ProjectWebForms/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjectWCFLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjectWCFLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblEmployee" nillable="true" type="tns:tblEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblEmployee" nillable="true" type="tns:ArrayOftblEmployee" />
  <xs:complexType name="tblEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="empno" type="xs:int" />
      <xs:element minOccurs="0" name="ename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mgr" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblEmployee" nillable="true" type="tns:tblEmployee" />
  <xs:complexType name="ArrayOftblCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblCustomer" nillable="true" type="tns:tblCustomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblCustomer" nillable="true" type="tns:ArrayOftblCustomer" />
  <xs:complexType name="tblCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblCustomer" nillable="true" type="tns:tblCustomer" />
  <xs:complexType name="ArrayOftblSale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblSale" nillable="true" type="tns:tblSale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblSale" nillable="true" type="tns:ArrayOftblSale" />
  <xs:complexType name="tblSale">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CustomerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblSale" nillable="true" type="tns:tblSale" />
</xs:schema>